
@{Layout = "~/Views/Shared/_Layout.cshtml";} @*Use custom layout*@
@using WebApplication13.Models;
@{
    ViewBag.Title = "Your Cart";
}

@*Heading*@
<h2 class="wow fadeInUp">Your Cart</h2>

@*Cart*@
<table class="table table-striped table-hover" style=" width:55%;">

    @*Table Headings*@
    <tr>
        <th>Option</th>
        @*<th>Id</th>*@
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>

    @{
        decimal s = 0; // To Store total
    }

    @foreach (item item in (List<item>)Session["cart"]) // Display each item from cart
    {

        s = s + item.Product.prce * item.Quantity; // Get the Sum of all products

        <tr>
            @*ActionLink to remove products based on their id*@
            <td>@Html.ActionLink("Remove", "Delete", "ShoppingCartItems", new { id = item.Product.Id }, new { @class = "btn btn-danger" })</td>
            @*<td>@item.Product.Id</td>*@
            <td>@item.Product.name</td>
            <td>ج @(item.Product.prce)</td>
            <td>@item.Quantity</td>
            <td>ج @(item.Product.prce * item.Quantity)</td>
        </tr>
    }
    <tr>
        <td align="right" colspan="4"><strong>Sum:</strong></td>
        <td>ج @Math.Round(s, 2)</td>
    </tr>
</table>

<p>
    @Html.ActionLink("Continue Shopping", "Index", "Home")
</p>